.speeche-bloc {
  width: 50%;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  button {
    cursor: pointer;
    min-width: 200px;
    padding: 20px;
    height: 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 500ms ease-in-out;
    &:hover {
      background-color: var(--primaryColor);
      color: white;

      transition: color 500ms ease-in-out;
      .container-svg-btn {
        position: relative;
        svg {
          path {
            transition: stroke 500ms ease-in-out;
            stroke: rgb(255, 253, 253);
          }
        }
      }
    }
    .container-svg-btn {
      position: relative;
      svg {
        path {
          stroke: black;
        }
      }
    }
    .container-svg-btn.active::after {
      content: "";
      position: absolute;
      right: 0;
      top: 20%;
      transform: translateY(-50%);

      width: 100%;
      height: 100%;
      background-color: #333;

      transition: scale 200mss ease-in-out;
      animation: wave 500ms infinite alternate-reverse;
      z-index: 0;
      border-radius: 100%;
    }

    @keyframes wave {
      0% {
        scale: 0;
      }
      100% {
        scale: 0.8;
      }
    }
  }
  textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
  }
}
