.main-container-management {
  padding: 0px 5vw;
  color: var(--darkFontColor);
  width: 100vw;

  .add-add-usager {
    display: none;
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    .dark {
      z-index: 101;
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.342);
    }
    .component {
      position: absolute;
      right: 0;
      width: 500px;
      height: 100vh;
      z-index: 102;
      background-color: var(--fillInput);
      transition: transform 500ms ease;
      transform: translateX(100%);
      padding: 10px;

      .body-add-usager {
        form {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          color: var(--darkFontColor);

          input {
            width: 100%;
            padding: 10px 15px;
            border-radius: 10px;
            border-color: var(--darkFontColor);
            background-color: var(--fillInput);
            color: var(--darkFontColor);

            &::placeholder {
              color: var(--disabledColor);
            }
          }
          .nom {
            width: 100%;
          }
          .prenom {
            width: 100%;
          }
          .adresse {
            width: 100%;
          }
          .select-group {
            display: flex;
            gap: 20px;

            .sexe {
              display: flex;
              flex-direction: column;
              justify-content: center;
              height: 50px;
              select {
                border: none;
                appearance: none;
                padding: 10px 30px 10px 15px;
                width: 100%;
                background-color: white;
                border: 1px solid var(--darkFontColor);
                font-size: 20px;
                border-radius: 10px;
                color: #333;
                cursor: pointer;
                option {
                  background-color: var(
                    --backColorTransparent
                  ); /* Couleur de fond des options */
                  color: #333; /* Couleur du texte des options */
                  font-size: 14px; /* Taille de la police des options */
                  padding: 8px 12px; /* Espacement interne des options */
                }
              }
            }
          }
          .action-container {
            width: 100%;
            display: flex;
            gap: 10px;
            padding: 20px;
            justify-content: end;
          }
        }
      }
    }
    &.open {
      display: block;
      .component {
        transform: translateX(0);
        transition: transform 500ms ease;
        transition-delay: 2s;
      }
    }
  }
  .main-section-management {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .add-container {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
        .icons {
          color: var(--darkFontColor);
        }
      }
      .btn-export {
        display: flex;
        gap: 10px;

        .btn {
          display: flex;
          gap: 3px;
          align-items: center;
        }

        .pdf {
          color: red;
        }
        .excel {
          color: green;
        }
        .word {
          color: blue;
        }
      }
      .button-container {
        display: flex;
        gap: 10px;
        justify-content: space-between;
      }

      .add-action {
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .search-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .search {
        display: flex;
        gap: 10px;

        input {
          width: 300px;
          outline: none;
          border: none;
          padding: 5px 10px;
          background-color: var(--fillInput);
          border-radius: 10px;
          color: var(--darkFontColor);
        }
      }
    }
    .list-dossier-container {
      background-color: var(--fillInput);
      height: 70vh;
      border-radius: 10px;
      overflow: hidden;

      .list-ctn {
        overflow-y: scroll;
        overflow-x: hidden;
        border-radius: inherit;
        height: 100%;
        table {
          width: 100%;
          position: relative;
          padding: 5px 5px 10px 20px;
          border-collapse: separate;
          border-spacing: 0 20px;
          thead {
            position: sticky;
            top: 0;
            padding: 20px 0px;
            z-index: 3;

            height: 50px;
            background-color: var(--fillInput);
            tr {
              th {
                padding: 10px 0px 10px 20px;
                text-align: start;
                color: var(--darkFontColor);
              }
            }
          }
          tbody {
            tr {
              overflow: hidden;
              transition: background 500ms ease-in-out;
              td {
                padding: 10px;

                .icons {
                  color: var(--darkFontColor);
                }

                .div,
                div {
                  display: inline-flex;
                  margin: 0px 5px;
                }
                &.dates {
                  min-width: 200px;
                }
              }
              &:hover {
                background-color: var(--backColorTransparent);
              }
            }
          }
        }
      }
    }
  }
}
