@font-face {
  font-family: "Nexa";
  src: url("../../../assets/font/Nexa/NexaText-Trial-Regular.otf")
    format("opentype");
}
@font-face {
  font-family: "Nexa bold";
  src: url("../../../assets/font/Nexa/NexaText-Trial-Bold.otf")
    format("opentype");
}

@font-face {
  font-family: "Poppins";
  src: url("../../../assets/font/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins bold";
  src: url("../../../assets/font/Poppins/Poppins-Bold.ttf");
}
